.sea{
    width: 10vw;
    height:1px;
    margin:-40px 0 100px 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: relative;
    float: right;
    top: -100px;
}
.sea-element {
    -webkit-animation:oscill 1s ease-in-out infinite alternate; 
    -moz-animation:oscill 1s ease-in-out infinite alternate; 
    -ms-animation:oscill 1s ease-in-out infinite alternate; 
    animation:oscill 1s ease-in-out infinite alternate; 
    background-size: 2000px 100%;
    position:relative;
    height:3px;
    background-color: black;
    width:50vw;
    display:inline-block;

}

@-webkit-keyframes oscill {
      0% { top:  2%; }        
    100% { top: -2%; }
}
@-moz-keyframes oscill {
      0% { top:  2%; }        
    100% { top: -2%; }
}
@-ms-keyframes oscill {
      0% { top:  2%; }        
    100% { top: -2%; }
}

@keyframes oscill {
       0% { top: 2%; }        
    100% { top: -2%; }
}

/*  */